body {
    background-image: url("https://i.kym-cdn.com/entries/icons/original/000/037/097/cover3.jpg");
    background-size: cover;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    width: 200 hv;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    color: white
}
h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background-color: #1974d2;
    border-radius: 25px; 
}

#save-btn {
    background: #694d99;
    border-radius: 25px;
}

